html, body {
    height: 100%;
}

body {
    background-color: #ffffff;
    background-image: url("../images/background.png");
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/* This helps determine size of each image in portfolio.html */

.imgsize {
    width: 300px;
    height: 200px;
    margin: 15px auto;
}